@import "../../../mixins.scss";
.heroBanner {
  width: 100%;
  height: 360px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  position: relative;
  @include md {
    height: 520px;
  }
  .backgroundimage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    overflow: hidden;
    .lazy-load-image-background {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .opacity-layer {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 80%);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .herobannaecontant {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    .title {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 10px;
      @include md {
        margin-bottom: 0;
        font-size: 64px;
      }
    }
    .subTitle {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 40px;
      @include md {
        font-size: 18px;
      }
    }
    .searchInput {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      input {
        width: calc(100% - 90px);
        height: 42px;
        outline: 0;
        border: 0;
        border-radius: 30px 0px 0px 30px;
        padding: 0 15px;
        font-size: 13px;
        @include md {
          width: calc(100% - 140px);
          height: 52px;
          font-size: 16px;
          padding: 0 30px;
        }
      }
      button {
        width: 90px;
        height: 42px;
        background: var(--bluegradient);
        color: white;
        outline: 0;
        border: 0;
        border-radius: 0 30px 30px 0;
        font-size: 14px;
        cursor: pointer;
        @include md {
          width: 140px;
          height: 52px;
          font-size: 16px;
        }
      }
      button:hover {
        color: white;
        font-weight: 600;
      }
    }
  }
}
