@import "../../../mixins.scss";

.castSection {
  margin: 30px 0;
  .sectionHeading {
    color: #fff;
    font-size: 20px;
    margin-bottom: 16px;
  }
  .listItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 16px;
    @include md {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
  }
  .listItem {
    color: #fff;
    text-align: center;
    padding: 6px 0;
    cursor: pointer;
    .profileImg {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto 8px;
      @include md {
        width: 110px;
        height: 110px;
      }
      .lazy-load-image-background,
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .name {
      font-weight: 600;
      font-size: 14px;
      @include md {
        font-size: 15px;
      }
    }
    .character {
      opacity: 0.7;
      font-size: 12px;
      @include md {
        font-size: 13px;
      }
    }
  }
}
